.container{
    position: relative;
    overflow: visible;
    
}
.tooltip{
    position: absolute;
    bottom: 110%;
    margin: 0;
    background-color: #C0C0C0;
    color: #222;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    padding: 3px;
    animation: popup 0.1s ease-in-out;
}
@keyframes popup{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(100%);
    }
}
@media screen and (max-width: 768px){
    .tooltip{
        display: none;
    }
}
