div.container{
    position: fixed;
    top: 0px;
    width: 100vw;
    animation: alert 1s ease-out;
    z-index: 2000;
}
div.error{
    margin: auto;
    position: relative;
    width: 50%;
    padding: 2px;
    background-color: #C0C0C0;
    /* border: 3px solid #E50914; */
    
}
p.text{
    color: #E50914;
    text-align: center;
    font-weight: bold;
}
button.close{
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    /* padding: 0; */
}
button.close:hover{
    transform: scale(140%);
}

@keyframes alert {
    from{
        top: -100px;
    }
    to{
        top: 0px;
    }
}