div.container{
    position: fixed;
    top: -100px;
    width: 100vw;
    animation: alert 10s ease-in-out;
}
div.error{
    margin: auto;
    padding: 5px;
    background-color: #C0C0C0;
    border: 3px solid black;
}
p.text{
    color: #E50914;
    text-align: center;
    font-weight: bold;
}

@keyframes alert {
    0%{
        top: -100px;
    }
    10%{
        top: 0px;
    }
    90%{
        top: 0px;
    }
    100%{
        top: -100px;
    }
}