header.loginLayout{
    width: 100%;
    height: 30vh;
    margin-block: 10px;
}
.loginLayout nav{
    height: 100%;
}
.loginLayout a{
    height: 100%;
    width: 100%;
    display: flex;
}
.loginLayout img{
    height: 95%;
    margin: auto;
}