.iconSm{
    color: #E50914;
    font-size: 15px;
    cursor: pointer;
}
.search{
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    background-color: #C0C0C0;
    border-radius: 8px;
    overflow: hidden;
    /* align-items: last baseline; */
}
.input{
    background-color: transparent;
    border: none;
    flex-grow: 1;
    padding: 5px 10px; 
    font-size: 15px;
    width: 100px;
}
.input:focus{
    /* border: none; */
    outline: none;
    /* box-shadow: 0 0 .4rem #E50914; */
}
.submit{
    background-color: transparent;
    border: none;
    padding: 0 10px;
    margin: 0;
}
.submit:disabled .iconSm{
    color: #222;
}
