header.loginLayout{
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    height: 30vh;
    margin-block: clamp(1rem, 6vh, 5rem);
}
.loginLayout nav{
    height: 75%;
}
.loginLayout a{
    height: 100%;
    width: 100%;
    display: flex;
}
.loginLayout img{
    height: 95%;
    margin: auto;
}
.loginLayout p{
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    margin-block: .3rem;
}