.container{
    display: flex;
    gap: 2px;
    border-radius: 10px;
    overflow: hidden;
}
.prev, .next{
    border: none;
    background-color: #E50914;
    padding: 8px;
    margin: 0;
    
}
.prev:disabled, .next:disabled{
    background-color: #222;
}