header.mainLayout {
    min-height: 50px;
    max-height: 100px;
    height: 20vh;
    padding: 10px clamp(10px, 5vw, 100px);
    background-image: linear-gradient(to bottom, #121212 80%, #222);
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.mainLayout nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainLayout nav > a{
    height: 100%;
}
.mainLayout img{
    height: 95%;
}
.mainLayout menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 25px;
}
.mainLayout menu > a{
    text-decoration: none;
    color: #C0C0C0;
}
.mainLayout menu > a:hover{
    text-decoration: none;
    transform: scale(120%);
}
.mainLayout .icon{
    font-size: 30px;
}