header.mainLayout {
    /* min-height: 50px;
    max-height: 100px;
    height: 20vh; */
    padding: 10px clamp(10px, 5vw, 100px);
    background-image: linear-gradient(to bottom, #121212 80%, #222);
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.mainLayout nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logo{
    width: 20vw;
    min-width: 150px;
    max-width: 200px;
}
.logo img{
    width: 100%;
}
/* .mainLayout menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 25px;
}
.mainLayout menu > a{
    text-decoration: none;
    color: #C0C0C0;
}
.mainLayout menu > a:hover{
    text-decoration: none;
    transform: scale(120%);
} */
.footer{
    background-color: #222;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    gap: 10px;
}
.footerLogo{
    width: 20vw;
    max-width: 400px;
    min-width: 200px;
    margin-bottom: 10px;
}
.footerLinks{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    
}
.footerLinks a{
    color: #C0C0C0;

}
.footerLinks a{
    text-decoration: none;
}
.attributions p{
    margin: 5px;
}
.tmdbText{
    display: flex;
    gap: 5px;
    align-items: center;
}
.tmdb{
    width: 50px;
    vertical-align: center;
}
address a{
    color: #C0C0C0;
    text-decoration: underline;

}
@media screen and (min-width: 768px) {
    .mainLayout nav{
        justify-content: space-between;
        
    }
}