.container{
    position: relative;
    width: fit-content;
}
.collections{
    position: absolute;
    max-width: 100%;
    margin-top: 5px;
    /* background-color: #C0C0C0; */
    padding: 0;
}
.error{
    color: #E50914;
}
.newLink a{
    color: #C0C0C0;
    text-decoration: none;
    background-color: #E50914;
    /* border-radius: 5px; */
    padding: 2px;
    font-size: 12px;
    margin: 0;
}
.collectionList{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: stretch;
    gap: 3px;
}
.collection{
    padding: 0;
    margin: 0;
}
.collection button{
    width: 100%;
    color: #C0C0C0;
    background-color: #222;
    border: none;
    /* border-radius: 5px; */
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
}
.mainBtn{
    background-color: #E50914;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    color: #C0C0C0;
    font-weight: bold;
}