.login{
    width: 100%;
}
.login form{
    min-width: 200px;
    max-width: 400px;
    width: 40vw;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: .2rem;
    align-items: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
}
.showPassword{
    font-size: 15px;
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 2px;

}
.showPassword label{
    white-space: nowrap;
}
.checkbox{
    border: none;
}
.login input{
    width: 100%;
    margin-block: 1rem;
    padding: .4rem;
    border: none;
    border-radius: .2rem;
    background-color: #C0C0C0;
    font-size: 1rem
}
.login input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 .4rem #E50914;
}
.login label{
    text-align: center;
}
.login button{
    grid-column: span 2;
    width: 30%;
    justify-self: center;
    font-size: clamp(1rem, 3vw, 1.3rem);
    margin-block: .5rem;
    background-color: #E50914;
    color: #C0C0C0;
    border: none;
    border-radius: .2rem;
    padding: .2rem;
    cursor: pointer;    
}
.login button:hover{
    transform: scale(120%);
}
.login a{
    display: inline-block;
    color: #C0C0C0;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-block: .5rem;
}