.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.select{
    background-color: #C0C0C0;
    padding: 5px;
    color: #E50914;
    border-radius: 8px;
    cursor: pointer;
}
.select:focus{
    outline: none;
    border: none;
}
.submit{
    background-color: #E50914;
    color: #C0C0C0;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}