.container{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
}
.results h1{
    text-align: center;
}
/* .results{
    flex-grow: 1;
} */
